{% extends 'KyklydseChristmasListBundle::layout.html.twig' %}

{% block title %}{% trans %}All lists{% endtrans %}{% endblock %}

{% block content %}

<h1>{% trans %}All lists{% endtrans %}</h1>

{% for list in lists %}
{%  if list.isOwner(current_user) or list.isInvited(current_user) %}
    <h2>
        <a href="{{ path('kyklydse_christmaslist_list_view' , {'id':list.id}) }}">{{ list.name }}</a>
        <small>({% for owner in list.owners %}{{ owner.name }}{% endfor %})</small>
    </h2>
{% endif  %}
{% endfor %}
<a class="button" href="{{ path('kyklydse_christmaslist_list_create') }}">{% trans %}New list{% endtrans %}</a>


{% endblock %}
