<h1>New Christmas List Item</h1>

<form action="{{ path('kyklydse_christmaslist_list_newitem', {'list_id': list.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_rest(form) }}

    <input type="submit" />
</form>