{%  extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/kyklydsechristmaslist/css/christmaslist.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{%  block body %}
<div id="page">
    <div id="header">
        <a href="{{ path('kyklydse_christmaslist_list_index') }}">{% trans %}Christmas List{% endtrans %}</a>
    </div>
    <div id="main">
    {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <a href="{{ path('fos_user_security_logout') }}">{% trans %}Logout{% endtrans %}</a> | <a href="{{ path('kyklydse_christmaslist_list_index') }}">{% trans %}Lists list{% endtrans %}</a>
    </div>
</div>
{% endblock %}